/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
.slider .slider_aria{
height: 80vh;background-size: 100% 100%;
            
}	
    
	


}

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption h5 {
        font-size: px;
}
    .img-fluid{
        max-width: 92%;
    }	
	
	
	
}

/*--Mobile Layout css--*/ 
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
   .content_bottom .carousel-caption p {
    color: #919191;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    text-align: justify;
}
 .content_bottom .carousel-indicators li {
    border-radius: 14px;
    width: 11px;
    height: 11px;
    border: 3px solid #2ECC71;
}  
.content_bottom .carousel-indicators {
    margin-left: 3%;
    margin-right: 7%;
}
 .slider .slider_text h5{
       margin-left: -225px;
       font-size: 17px;
    }
    .slider .buttn{
       margin-left: -235px;
    }
    .slider .buttn a{
      color: #fff;
      font-size: 11px;
}
    .content_bottom .carousel-caption h2 {
        margin-bottom: 20px;
    }

}











