@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
.carousel-caption h5{
    font-family: 'Roboto Condensed', sans-serif;font-weight: bold;
}
@media all and (min-width:1660px){
    .container{
        width:1600px;
    }
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
.clearfix{
    clear:both;
}
/*--start slider css--*/
.slider .slider_aria{
   background: url("../css/images/header_image.jpg") no-repeat center center;background-size: cover;position: relative;height: 100vh;width: 100%;
   padding-top: 50px;background-size: 100% 100%;display: flex;
   align-items: center;
}
.slider_text{
    margin-bottom: 170px;
}
.slider .img_top{
    margin-top: -157px;
}
.slider .img_bttm{
    margin-top: -25px;
}
.slider .buttn{
    border: 1px solid #fff;display: inline-block;margin-top: 36px;border-width: 2px 2px 2px 1px;
}
.slider .buttn a{
    color: #fff;
}
.carousel-caption {
    right: 20%;
    left: 20%;
    margin-left: 64px;text-align: center;
}
.carousel-caption h5{
    text-transform: uppercase;
    font-size: 4vw;
    margin-top: -2%;
    text-align: center;
}
/*---start menubar css----*/
.menubar{
    background-color: #252E30 !important;
}
.menubar #collapsibleNavbar{
    justify-content: center;
}
.bg-dark{
    background-color: #252E30 !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;font-family: 'Roboto Condensed', sans-serif;font-weight: bold;font-size: 12px;
}
.navbar-dark .navbar-nav a.nav-link:hover{
    color: #2ecc71;
}
.menubar img{
    position: relative;
}
.menubar .img_text{ 
    position: absolute;
    margin-left: 8px;
    color: #fff;
    margin-left: -26px;
    font-weight: bold;
}
/*---menu bottom css--*/
.menu_bttm_aria{
    margin-top: 100px;margin-bottom: 100px;text-align: justify;
}
.menu_bttm_aria h2{
    color: #566366;font-weight: bold;font-size: 26px;text-transform: uppercase; 
}
.menu_bttm_aria p{
    color: #566366;font-family: 'Roboto Condensed', sans-serif;font-size: 14px;
}
/*--about aria css---*/
.about_aria{
    margin-bottom: 100px;background: #F2F2F1;
}
.about_aria .about{
    width: ;
}
.about_aria .slider_2{
    width: ;height: auto;
}
.container-fluid {
    width: 100%;padding-left: 0px;padding-right: 0px;
    margin-right: auto;
    margin-left: auto;
}
.about_aria .me{
    color: #566366;font-family: 'Roboto Condensed', sans-serif;font-weight: bold;font-size: 20px;text-transform: uppercase;margin-top: 80px;margin-bottom: 30px; 
}
.about_aria h2{
    color: #566366;font-family: 'Roboto Condensed', sans-serif;font-weight: bold;font-size: 17px;text-transform: uppercase; 
}
.about_aria p{
    color: #919191;font-family: 'Roboto Condensed', sans-serif;font-size: 12px;margin-bottom: 15px;
}
.web_mrg{
    margin-top: 55px;
}
.grap_mrg{
    margin-top: 55px;
}
.icon_aria .web{
    padding-left: 60px;margin-bottom: 43px;
}
.icon_aria .online{
    padding-left: 60px;margin-bottom: 43px;
}
.grap_aria .graphic{
    padding-left: 60px;margin-bottom: 43px;
}
.grap_aria .seo{
    padding-left: 60px;margin-bottom: 43px;
}
/*----start skill css--*/
.skill{
    margin-bottom: 100px;margin-top: 100px;
}
.my_skill h2{
    color: #566366;font-family: 'Roboto Condensed', sans-serif;font-weight: bold;font-size: 19px;text-transform: uppercase; 
}
.my_skill p{
    color: #919191;font-family: 'Roboto Condensed', sans-serif;font-size: 12px;margin-bottom: 15px;
}
.my_skill .btn_mrg{
    margin-bottom: 100px;border: 1px solid #2ecc71;color: #2ecc71;font-family: 'Roboto Condensed', sans-serif;font-size: 15px;font-weight: bold;margin-top: 50px;width: 150px;min-height: 42px;
}
.progress_aria h5{
    color: #566366;margin-top: 22px;margin-bottom: 22px;font-family: 'Roboto Condensed', sans-serif;font-size: 18px;font-weight: bold;
}
.progress_aria .progress-bar{
    background-color: #2ECC71;text-align: right;
}
/*----skill bottom css--*/
.skill_bottom{
    margin-bottom: 100px;background: #F2F2F1;text-align: center;
}
.skill_bottom h2{
    margin-top: 100px;margin-bottom: 40px;color: #566366;font-family: 'Roboto Condensed', sans-serif;font-weight: bold;font-size: 25px;text-transform: uppercase; 
}
.skill_bottom p{
    margin-bottom: 30px;color: #919191;font-family: 'Roboto Condensed', sans-serif;font-size: 12px;margin-bottom: 15px;
}
.skill_bottom .bttm{
    margin-bottom: 100px;border: 1px solid #2ecc71;color: #2ecc71;font-family: 'Roboto Condensed', sans-serif;font-size: 15px;font-weight: bold;width: 150px;min-height: 42px;border-width: 2px 1px 2px 2px;
}
/*---content aria css---*/
.content_aria{
    margin-bottom: 100px;
}
.mrg_bttm{
    border-bottom: 1px solid #CCCCCC;
}
.content_aria .date{
    color: #919191;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 11px;
}
.content_aria .gpa{
    background: #2ecc71;
    color: #fff;
    font-size: 10px;
    padding: 4px 10px;font-family: 'Roboto Condensed', sans-serif;font-weight: bold;
}
.aside .diploma{
    padding-bottom: 25px;border-bottom: 1px solid #CCCCCC;
}
.aside .cit{
    padding-bottom: 25px;border-bottom: 1px solid #CCCCCC;
}
content_aria .aside p{
    color: #919191;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.content_aria .aside h2{
    margin-top: 52px;color: #566366;font-family: 'Roboto Condensed', sans-serif;font-size: 16px;text-transform: uppercase;margin-bottom: -3px;font-weight: bold;
}
.content_aria .aside p{
    color: #919191;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 25px;
}
.content_aria .aside_bttm p{
    color: #919191;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    margin-bottom: -20px;
    margin-top: 25px;
}
.content_aria .article h2{
    color: #566366;font-family: 'Roboto Condensed', sans-serif;font-size: 21px;text-transform: uppercase;margin-bottom: -5px; 
}
.content_aria .article p{
    color: #919191;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 25px;
}
/*---content bottom css--*/
.content_bottom{
    margin-bottom: 100px;background: #f2f2f1;
}
.content_bottom .carousel-caption {
    right: 7%;
    left: 7%;
    text-align: center;
}
.content_bottom .carousel-caption p{
   color: #919191;font-family: 'Roboto Condensed', sans-serif;font-size: 16px;
}
.content_bottom .carousel-indicators{
    position: inherit;margin-top: -28px;
    margin-left: 24px;
    margin-right: auto;
}
.content_bottom .carousel-indicators li{
    border-radius: 13px;width: 13px;height: 14px;border: 3px solid #2ECC71;
}
.content_bottom .carousel-indicators .active{
    background: #2ECC71;
}
.content_bottom .btn{
    text-decoration: none;
    background-color: transparent;
}
.content_bottom a{
    color: #8A9193;font-family: 'Roboto Condensed', sans-serif;font-size: 14px;font-weight: bold;margin-left: -35px;
}
.content_bottom a:hover{
    text-decoration: none;
}
/*----end content bottom--*/
/*--start portfolio---*/
.portfolio{
    margin-bottom: 80px;
}
.portfolio .pdn{
    padding-bottom: 30px;
}
.portfolio .carousel-item .image3:hover{
    opacity: .5;
}
.portfolio .carousel-caption .cursor{
    margin-top: 202px;
    position: absolute;
    margin-left: -44px;
}
.portfolio .carousel-caption .resume{
   margin-top: 166px;
    position: absolute;
    margin-left: -64px;
}
.portfolio .carousel-caption .h6, h6 {
    font-size: 1rem;margin-top: 64px;
    position: absolute;
    text-transform: uppercase;
    display: inherit;
    margin-left: -120px;font-family: 'Roboto Condensed', sans-serif;
    font-size: 23px;font-weight: bold;
}
/*--contact css---*/
.contact{
    background: #252E30;color: white;
}
.contact .mrg_top{
    margin-top: 120px;
}
.contact .mrg_top h2{
    text-transform: uppercase;font-size: 25px;margin-bottom: 40px;
}
.contact .mrg_top p{
    color: #919191;font-size: 15px;margin-bottom: 40px;
}
.contact .name{
    background: #4B5456;margin-bottom: 20px;font-size: 42px;
}
.contact .form-control{
    border: none;border-radius: 0px;
}
.contact .email{
    background: #4B5456;margin-bottom: 20px;
}
.contact .email_address{
    background: #4B5456;margin-bottom: 20px;min-height: 235px;
}
.contact .btn-dark{
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 18px;
    padding: 12px 35px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;text-transform: uppercase;
}
/*---contact css end---*/
/*---footer start---*/
.footer{
    background: #191F21;text-align: center;color: #fff;padding: 40px;
}
.footer p{
    font-size: 20px;
    color: #4b5456;
    text-transform: uppercase;
}
.footer .social_list{
    display: inline-block;
}
.footer .social_list img{
    background: #4B5456;
    padding: 7px;
    border-radius: 37px;
}
.footer .social_list ul{
    text-align: center;list-style: none;margin-left: -40px;
}
.footer .social_list ul li{
    float: left;
    background: #4B5456;
    border-radius: 37px;
    margin-right: 10px;
}
.footer .social_list ul li a img:hover{
    background: #6a797c;
}


 /*--Mobile Layout css--*/ 
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
   .content_bottom .carousel-caption p {
    color: #919191;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    text-align: justify;
}
 .content_bottom .carousel-indicators li {
    border-radius: 14px;
    width: 11px;
    height: 11px;
    border: 3px solid #2ECC71;
}  


}



   











